
{% extends "productionsystem/newrequest_template.html"%}

{% block css_links %}
{{ super() }}
<!-- TiTaToggle -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/titatoggle/2.1.2/titatoggle-dist-min.css" integrity="sha256-MSuL2HDBiBhNtoZ7N4IemvaGhTuEcanpxDHuQY+ju0Y=" crossorigin="anonymous"/>
<!-- Date range picker CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
.macro-selection {width: 100%;
                  overflow-x:auto;
                  overflow-y:auto;
                  overflow: -moz-scrollbars-horizontal;}
.required {color: red;
           font-weight: bold;}
</style>
{% endblock %}

{% block js_imports %}
{{ super() }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block form_content %}
    <legend>Solid Job Setup</legend>
    <!-- Tabs -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
	<a class="nav-item nav-link active" id="nav-simulation-tab" data-toggle="tab" href="#nav-simulation" role="tab" aria-controls="nav-simulation" aria-selected="true">Simulation</a>
	<a class="nav-item nav-link" id="nav-ro-tab" data-toggle="tab" href="#nav-ro" role="tab" aria-controls="nav-ro" aria-selected="false">RO</a>
	<a class="nav-item nav-link" id="nav-analysis-tab" data-toggle="tab" href="#nav-analysis" role="tab" aria-controls="nav-analysis" aria-selected="false">Analysis</a>
      </div>
    </nav>

    <!-- Tab Content -->
    <div class="tab-content" id="nav-tabContent">

      <!-- Simulation -->
      <div class="tab-pane fade show active" id="nav-simulation" role="tabpanel" aria-labelledby="nav-simulation-tab">
	<br>
	<div class="checkbox checkbox-slider-info checkbox-slider--b">
	  <label>
	    <input type="checkbox" class="toggle" id="sim_toggle" checked/>&nbsp;
	    <span class="indicator-primary">
              <span class="oi oi-power-standby text-primary"></span>
              ON / OFF
            </span>
	  </label>
	</div>

	<br>
        <label for="solidsim_version">Select SolidSim Version:</label>
        <div class="input-group">
	  <select id="solidsim_version" name="solidsim_version" class="form-control togglable" toggle="sim_toggle" data-live-search="true" data-live-search-style="startsWith" data-size="10" data-width="180px" data-dropup-auto="false" data-live-search-placeholder="Search..." title="SolidSim Version" required>
	  </select>
        </div>

	<br>
	<label for="solidsim_macro">SolidSim Macro:</label>
	<div class="input-group macro-selection">
	  <select id="solidsim_macro"  name="solidsim_macro", class="form-control togglable" toggle="sim_toggle" data-size="6" width="100%" data-selected-text-format="count > 1" data-live-search="true" data-dropup-auto="false" data-live-search-placeholder="Search..." title="Macros" multiple required>
	  </select>
	</div>

	<br>
	<label for="solidsim_inputmacro">Input Macro:</label>
	<div class="input-group">
	  <input type="file" class="form-control togglable" toggle="sim_toggle" name="solidsim_inputmacro" id="solidsim_inputmacro">
	</div>

	<br>
	<label for="solidsim_inputfiletype">SolidSim Input File Type:</label>
	<div class="input-group">
	  <select id="solidsim_inputfiletype" name="solidsim_inputfiletype" class="form-control togglable" toggleoff="sim_toggle" title="SolidSim input file type" required disabled>
	    <option>atm-n</option>
	    <option>muons</option>
	    <option>IBDsolo</option>
	  </select>
	  <!--<input id="solidsim_inputfile_lfn" name="solidsim_inputfile_lfn" toggleoff="sim_toggle" toggle="solidsim_inputfile_lfn_toggle" type="text" class="form-control togglable" placeholder="SolidSim input file LFN" aria-describedby="basic-addon1" required disabled>-->
	</div>

	<br>
	<label id="solidsim_nevents_label" for="solidsim_nevents">NEvents:</label>
	<div class="input-group">
	  <input id="solidsim_nevents" name="solidsim_nevents" placeholder="Number of events" class="form-control togglable" toggle="sim_toggle" type="text" required/>
	</div>

	<br>
	<label for="seed">Initial Seed:</label>
	<div class="input-group">
	  <input id="seed" name="seed" placeholder="Initial seed" class="form-control togglable" toggle="sim_toggle" type="text"/>
	</div>

	<br>
	<label for="solidsim_output_lfn">SolidSim Output LFN:</label>
	<div class="input-group">
	  <input id="solidsim_output_lfn" name="solidsim_output_lfn" toggle="sim_toggle" type="text" class="form-control togglable" placeholder="SolidSim output LFN" aria-describedby="basic-addon1" value="/solidexperiment.org/MC/Phase1-validation" required/>
	</div>

      </div>

      <!-- RO -->
      <div class="tab-pane fade" id="nav-ro" role="tabpanel" aria-labelledby="nav-ro-tab">

	<br>
	<div class="checkbox checkbox-slider-info checkbox-slider--b">
	  <label>
	    <input type="checkbox" class="toggle" id="ro_toggle"/>&nbsp;
	    <span class="indicator-primary">
              <span class="oi oi-power-standby text-primary"></span>
              ON / OFF
            </span>
	  </label>
	</div>

	<br>
	<label for="saffron2_ro_version">Select Saffron2 ROsim Version:</label>
	<div class="input-group">
	  <select id="saffron2_ro_version" name="saffron2_ro_version" class="form-control togglable" toggle="ro_toggle" title="Saffron2 ROsim Version" required disabled>
	  </select>
	</div>
	
	<br>
	<label for="ro_macro">ROsim Macro:</label>
	<div class="input-group macro-selection">
	  <select id="ro_macro"  name="ro_macro", class="form-control togglable" toggle="ro_toggle" data-size="6" width="100%" data-selected-text-format="count > 1" data-live-search="true" data-dropup-auto="false" data-live-search-placeholder="Search..." title="Macros" multiple required disabled>
	  </select>
	</div>

	<br>
	<label for="ro_inputmacro">Input Macro:</label>
	<div class="input-group">
	  <input type="file" class="form-control togglable" toggle="ro_toggle" name="ro_inputmacro" id="ro_inputmacro" disabled>
	</div>

	<br>
	<label for="ro_input_lfndir"> LFN directory to be run by ROsim:</label>
	<div class="input-group">
	  <input id="ro_input_lfndir" name="ro_input_lfndir" toggle="ro_toggle" type="text" class="form-control togglable" placeholder="RO input LFN" aria-describedby="basic-addon1" value="/solidexperiment.org/MC/Phase1-validation/<Patch>" required disabled/>
	</div>
	
	<br>
	<label for="ro_baselinetype">ROsim Baseline Type:</label>
	<div class="input-group">
	  <select id="ro_baselinetype" name="ro_baselinetype" class="form-control togglable" toggle="ro_toggle" title="ROsim baseline type" required disabled>
	    <option>April-2018</option>
	    <option>December-2017</option>
	  </select>
	  <!--<input id="solidsim_inputfile_lfn" name="solidsim_inputfile_lfn" toggleoff="sim_toggle" toggle="solidsim_inputfile_lfn_toggle" type="text" class="form-control togglable" placeholder="SolidSim input file LFN" aria-describedby="basic-addon1" required disabled>-->
	</div>
	
	<br>
	<label for="ro_output_lfndir">ROsim Output LFN directory:</label>
	<div class="input-group">
	  <input id="ro_output_lfndir" name="ro_output_lfndir" toggle="ro_toggle" type="text" class="form-control togglable" placeholder="RO output LFN" aria-describedby="basic-addon1" value="/solidexperiment.org/MC/Phase1-validation" required disabled/>
	</div>
	
      </div>

      <!-- Analysis -->
      <div class="tab-pane fade" id="nav-analysis" role="tabpanel" aria-labelledby="nav-analysis-tab">

	<br>
	<div class="checkbox checkbox-slider-info checkbox-slider--b">
	  <label>
	    <input type="checkbox" class="toggle" id="reduction_toggle"/>&nbsp;
	    <span class="indicator-primary">
              <span class="oi oi-power-standby text-primary"></span>
              ON / OFF
            </span>
	  </label>
	</div>

	<br>
	<label for="saffron2_analysis_version">Select Saffron2 Analysis Version:</label>
	<div class="input-group">
	  <select id="saffron2_analysis_version" name="saffron2_analysis_version" class="form-control togglable" toggle="reduction_toggle" title="Saffron2 Analysis Version" required disabled>
	  </select>
	</div>

	<br>
	<label for="daterangepicker">Date:</label>	
	<div class="input-group">
	  <div class="input-group-addon">
	    <span class="glyphicon glyphicon-th"></span>
	  </div>
	  <input id="daterangepicker" name="days" type="text" class="form-control togglable" toggle="reduction_toggle" disabled>
	</div>

	<br>
	<label for="analysis_macro">Analysis Macro:</label>
	<div class="input-group macro-selection">
	  <select id="analysis_macro"  name="analysis_macro", class="form-control togglable" toggle="reduction_toggle" data-size="6" width="100%" data-selected-text-format="count > 1" data-live-search="true" data-dropup-auto="false" data-live-search-placeholder="Search..." title="Macros" multiple required disabled>
	  </select>
	</div>

	<br>
	<label for="analysis_inputmacro">Input Macro:</label>
	<div class="input-group">
	  <input type="file" class="form-control togglable" toggle="reduction_toggle" name="analysis_inputmacro" id="analysis_inputmacro" disabled>
	</div>

	<br>
	<label for="analysis_output_lfndir">Analysis Output LFN directory:</label>
	<div class="input-group">
	  <input id="analysis_output_lfndir" name="analysis_output_lfndir" toggle="reduction_toggle" type="text" class="form-control togglable" placeholder="Analysis output LFN" aria-describedby="basic-addon1" value="/solidexperiment.org/Data/phase1_BR2/analysis/days" required disabled/>
	</div>

      </div>
    </div>

{% endblock %}


{% block document_ready_js %}

    $('#daterangepicker').daterangepicker({
	"showDropdowns": true,
	ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
	},
	"locale": {
            "format": "YYYY-MM-DD",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
		"Su",
		"Mo",
		"Tu",
		"We",
		"Th",
		"Fr",
		"Sa"
            ],
            "monthNames": [
		"January",
		"February",
		"March",
		"April",
		"May",
		"June",
		"July",
		"August",
		"September",
		"October",
		"November",
		"December"
            ],
            "firstDay": 1
	},
    }, function(start, end, label) {
	console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    });


    $(".toggle").change(function(){
	$(".togglable[toggle~='" + this.id + "']").prop("disabled", !this.checked);
//	$("select[toggle='" + this.id + "']").selectpicker("refresh");
	if (!this.checked){
	    $(".togglable[toggleoff~='" + this.id + "']").prop("disabled", true);    
	}
	else if (this.checked){
	    $(".togglable[toggleon~='" + this.id + "']").prop("disabled", false);    
	}
    });
    $.ajax({url: "/cvmfs/solidexperiment.egi.eu/el6/SolidSim",
            type: "POST",
	    data: JSON.stringify({"regex": "[vV].*", "type": "dirs"}),
	    contentType: "application/json; charset=utf-8",
	    error: function(request, status, error){
		console.warn(`Error getting SolidSim version!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request))
		parent.bootstrap_alert("Attention!", `Error getting SolidSim version! status: ${status} error: ${error}`, "alert-danger");
	    },
            success: function(result) {
		console.log("successfully got SolidSim versions.");
		$.each(result, function(index, value){
		    $("#solidsim_version").append(`<option>${value}</option>`)
		});
//                $("#solidsim_version").html(result);
//                $("#solidsim_version").selectpicker("refresh");
		$("#solidsim_version").trigger("change");
            }
	   });
    $.ajax({url: "/cvmfs/solidexperiment.egi.eu/el6/saffron2",
            type: "POST",
	    data: JSON.stringify({"regex": "[vV].*", "type": "dirs"}),
	    contentType: "application/json; charset=utf-8",
	    error: function(request, status, error){
		console.warn(`Error getting saffron2 version!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request))
		parent.bootstrap_alert("Attention!", `Error getting saffron2 version! status: ${status} error: ${error}`, "alert-danger");
	    },
            success: function(result) {
		console.log("Successfully got saffron2 versions.");
		$.each(result, function(index, value){
		    $("#saffron2_ro_version").append(`<option>${value}</option>`);
		    $("#saffron2_analysis_version").append(`<option>${value}</option>`);
		});
		$("#saffron2_analysis_version").trigger("change");
		$("#saffron2_ro_version").trigger("change");
            }
	   });
    $("#saffron2_ro_version").change(function() {	
	var saffron2_version = $("#saffron2_ro_version option:selected").text();
	$.ajax({url: `/cvmfs/solidexperiment.egi.eu/el6/saffron2/${saffron2_version}/saffron2/ops`,
		type: "POST",
		data: JSON.stringify({"regex": ".*\.txt", "type": "files"}),
		contentType: "application/json; charset=utf-8",
		error: function(request, status, error){
		    console.warn(`Error getting saffron2 version!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request))
		    parent.bootstrap_alert("Attention!", `Error getting saffron2 version! status: ${status} error: ${error}`, "alert-danger");
		},
		success: function(result) {
		    console.log("Successfully got saffron2 versions.");
		    $("#ro_macro").empty();
		    //var init_day = $("#daterangepicker").val().split(" - ")[0].replace(/-/g,'_');
		    $("#ro_output_lfndir").val(`/solidexperiment.org/MC/Phase1-validation/<PATCH>/RO/${saffron2_version}/`);
		    $.each(result, function(index, value){
		        $("#ro_macro").append(`<option>${value}</option>`);
		    });
		}
	       });
    });
    $("#saffron2_analysis_version").change(function() {	
	var saffron2_version = $("#saffron2_analysis_version option:selected").text();
	$.ajax({url: `/cvmfs/solidexperiment.egi.eu/el6/saffron2/${saffron2_version}/saffron2/ops`,
		type: "POST",
		data: JSON.stringify({"regex": ".*\.txt", "type": "files"}),
		contentType: "application/json; charset=utf-8",
		error: function(request, status, error){
		    console.warn(`Error getting saffron2 version!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request))
		    parent.bootstrap_alert("Attention!", `Error getting saffron2 version! status: ${status} error: ${error}`, "alert-danger");
		},
		success: function(result) {
		    console.log("Successfully got saffron2 versions.");
		    $("#analysis_macro").empty();
		    //var init_day = $("#daterangepicker").val().split(" - ")[0].replace(/-/g,'_');
		    $("#analysis_output_lfndir").val(`/solidexperiment.org/Data/phase1_BR2/analysis/days/{day}/${saffron2_version}/<PATCH>`);
		    $.each(result, function(index, value){
			$("#analysis_macro").append(`<option>${value}</option>`);
		    });
		}
	       });
    });
	
/*    $("#daterangepicker").change(function(){
	var saffron2_version = $("#saffron2_analysis_version option:selected").text();
	//var init_day = $("#daterangepicker").val().split(" - ")[0].replace(/-/g,'_');
	$("#analysis_output_lfndir").val(`/solidexperiment.org/Data/phase1_BR2/analysis/days/{day}/${saffron2_version}/<PATCH>`);
    });
*/
    $("#solidsim_inputmacro").change(function(){
	$("#solidsim_macro").prop("required", false);
	$("#solidsim_macro").prop("disabled", true);
    });

    $("#ro_inputmacro").change(function(){
	$("#ro_macro").prop("required", false);
	$("#ro_macro").prop("disabled", true);
    });

    $("#analysis_inputmacro").change(function(){
	$("#analysis_macro").prop("required", false);
	$("#analysis_macro").prop("disabled", true);
    });

    $("#solidsim_macro").change(function(){
	var solidsim_macro = $("#solidsim_macro option:selected").text();
	if (solidsim_macro === "cosmicsSim.mac"){
	    var lfn_path = $("#solidsim_output_lfn").val() + "/cosmics";
	    $("#solidsim_output_lfn").val(lfn_path);
	    $("#solidsim_inputfiletype").prop("disabled", false);
	    $("#solidsim_inputfiletype").trigger("change");
	}
	else{
	    $("#solidsim_output_lfn").val("/solidexperiment.org/MC/Phase1-validation/<PATCH>/g4/");
	    $("#solidsim_inputfiletype").prop("disabled", true);
	    $("#solidsim_nevents_label").text("NEvents:")
	}
    });

    $("#solidsim_inputfiletype").change(function(){
	var solidsim_inputfiletype = $("#solidsim_inputfiletype option:selected").text();
	var lfn_path = $("#solidsim_output_lfn").val();
	if (solidsim_inputfiletype === "atm-n"){
	    $("#solidsim_output_lfn").val("/solidexperiment.org/MC/Phase1-validation/cosmics/NEUTRONS-newPhysList/<PATCH>/g4/");
	    $("#solidsim_nevents_label").text("N * 12 minutes:");
	}
	else if (solidsim_inputfiletype === "muons"){
	    $("#solidsim_output_lfn").val("/solidexperiment.org/MC/Phase1-validation/cosmics/MUONS-newPhysList/<PATCH>/g4/");
	    $("#solidsim_nevents_label").text("N * 6 minutes:");
	}
	else {
	    $("#solidsim_output_lfn").val("/solidexperiment.org/MC/Phase1-validation/cosmics");
	}
    });

    $("#solidsim_version").change(function() {
//	var solidsim_macro = $("#solidsim_macro");
	var solidsim_version = $("#solidsim_version option:selected").text();
	$.ajax({url: `/cvmfs/solidexperiment.egi.eu/el6/SolidSim/${solidsim_version}/solid_g4_sim/input_macros`,
		type: "POST",
		data: JSON.stringify({"regex": ".*", "type": "files"}),
		contentType: "application/json; charset=utf-8",
		error: function(request, status, error){
		    console.warn(`Error getting macros!\nstatus: ${status}\nerror: ${error}\nrequest: ` + JSON.stringify(request))
		    parent.bootstrap_alert("Attention!", `Error getting macros! status: ${status} error: ${error}`, "alert-danger");
		},
		success: function(result) {
		    console.log("Successfully got SolidSim macros.");
		    $("#solidsim_macro").empty();
		    $.each(result, function(index, value){
			$("#solidsim_macro").append(`<option>${value}</option>`)
		    });
//                    solidsim_macro.html(result);
//                    $("#solidsim_macro").selectpicker("refresh");
                }
               });
    });

    function setup_simulation_job(form_data){
	var solidsim_macro = $("#solidsim_macro option:selected").text();
	var parametricjobs = [];
	if (solidsim_macro !== "cosmicsSim.mac"){
	    if(!form_data['seed']){
		form_data['seed'] = Math.floor(200000 + (Math.random() * 1800000));
	    }
//	    form_data["num_jobs"] = 1;
	    parametricjobs.push(form_data);
//	    data["request"]["parametricjobs"].push(form_data);
	}
	else{
	    var nevents = parseInt(form_data['solidsim_nevents']);
//	    form_data['num_jobs'] = 1000;
	    form_data['solidsim_nevents'] = 50000;
	    var parametricjobs = [];
	    for (var i=0; i<nevents; i++){
		parametricjob = $.extend(true, {}, form_data);
		parametricjob['jobnumber_start'] = i * 1000;
		//console.log(parametricjob['jobnumber_start'])
		parametricjob['seed'] = Math.floor(200000 + (Math.random() * 1800000));
		//console.log(parametricjob['seed'])
		parametricjobs.push(parametricjob);
//		data["request"]["parametricjobs"].push(parametricjob);
	    }
	}
	return {"description": "Simulation job", "parametricjobs": parametricjobs};
//	upload_data(data);
//	return data;
    }
				     
    function setup_analysis_job(form_data){
	var days = form_data["days"].split(" - ");
	var from_date = new Date(days[0]);
	var to_date = new Date(days[1]);
	var ndays = (to_date - from_date) / (1000 * 60 * 60 * 24);
//	form_data["num_jobs"] = 1;  // Temporary as num_jobs determined at submission time.
	delete form_data["days"];
	//form_data["analysis_inputmacro"] = form_data.analysis_inputmacro || '';
	var parametricjobs = [];
	for (var i=0; i<(ndays+1); i++){
	    var d = new Date(from_date.valueOf());
	    d.setDate(from_date.getDate() + i);
	    //console.debug(form_data['analysis_inputmacro'])
	    parametricjob = $.extend(true, {}, form_data);
	    parametricjob["day"] = d.toISOString().split("T")[0];
	    parametricjobs.push(parametricjob);
	}
	return {"description": "Analysis job", "parametricjobs": parametricjobs};
//	upload_data(data);
//	return data;
    }

{{ super() }}

{% endblock %}
{% block create_request %}  
//	var data = {"request":{"description": "new request", "parametricjobs": []}};

	if ($("#reduction_toggle").prop("checked")){
        var g = $("#analysis_inputmacro").prop("files")[0];
        if (g){
			// Check for the various File API support.
			if (window.File && window.FileReader && window.FileList && window.Blob){
		    	var r = new FileReader();
		    	r.onload = function(e) {
					form_data["analysis_inputmacro"] = e.target.result;
					return setup_analysis_job(form_data);
		    	}
		    	r.readAsText(g);
			}
			else {
		    	bootstrap_alert("danger", "ERROR:", "The File APIs are not fully supported by your browser.");
		    	throw "File API not supported by your browser."
			}
        }
        else{
			return setup_analysis_job(form_data);
        }
	}
	else if($("#ro_toggle").prop("checked")){
	    return {"description": "new, request", "parametricjobs": [form_data]};
	}
	else if($("#sim_toggle").prop("checked")){
            var g = $("#solidsim_inputmacro").prop("files")[0];
            if (g){
				// Check for the various File API support.
				if (window.File && window.FileReader && window.FileList && window.Blob){
				    var r = new FileReader();
		    		r.onload = function(e) {
						form_data["solidsim_inputmacro"] = e.target.result;
						return setup_simulation_job(form_data);
		    		}
		    		r.readAsText(g);
				}
				else {
			    	bootstrap_alert("danger", "ERROR:", "The File APIs are not fully supported by your browser.");
		    		throw "File API not supported by your browser."
				}
    		}
		    else{
				return setup_simulation_job(form_data);
    		}
	}
	else{
		throw "No toggles set."
	}
{% endblock %}
